/*ШРИФТЫ*/
@font-face {
    font-family: HirroSans;
    src: url("/font/ofont.ru_Hirro\ Sans.ttf");
}
@font-face {
    font-family: Bounded;
    src: url("/font/ofont.ru_Bounded.ttf");
}

* {
  margin: 0;
}

/* ОСНОВНЫЕ ТЕГИ И ИХ ПАРАМЕТРЫ*/

html {
  height: 100%;
  width: 100%;
}
*,
* ::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  padding: 0 10px;
  display: inline-block;
  transition: 0.3s;
}
a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}

a:hover {
  background-color: #ffffff;
  color: #5e0000;
  padding: 20px 10px;
}

a:hover:after {
  width: 100%;
}

/* СЕКЦИЯ ГЛАВНОЙ СТРАНИЦЫ */
.main_section {
  height: 100vh;
}

.slider {
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.main_section_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  height: 7vh;
  width: 100%;
  min-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  margin: auto;
  background-color: #5e0000;
}

nav img {
  height: 5vh;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* СЕКЦИЯ НАПРАВЛЕНИЙ */

.directions {
  display: flex;
  width: 100%;
  padding-top: 3vw;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  grid-template-columns: repeat(4, 20vh);
  color: #fff;
  font-family: HirroSans;
}

.directions_text{
    display: flex;
    justify-content: center;
    background-color: #FC952F;
    font-size: 3vw;
    font-family: HirroSans;
}

.directions_grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
}

.directions_grid > div {
  width: 15vw;
  height: 30vh;
  border: 1px solid #f3efef;
  border-radius: 8px;
  color: #f3efef;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

/* МОДАЛЬНОЕ ОКНО */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease;
  z-index: 1000;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
  max-width: 1000px;
  height: 50vh;
  position: relative;
  animation: slideIn 0.3s ease;
}

.modal-title {
  margin-top: 0;
}

.modal-body {
  margin: 15px 0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*НАПРАВЛЕНИЯ*/
.cards-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D4320A;
    width: 10vw;
    height: 25vh;
    border-radius: 7%;
    padding: 1.5vw;
    font-size: 1vw;
}
.cards-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D4320A;
    width: 10vw;
    height: 25vh;
    border-radius: 7%;
    padding: 1.5vw;
    font-size: 1vw;
}
.card_more{
    font-family: Bounded;
    border:1px solid #fff;
}
/*уЧИТЕЛЯ*/
.Teachers{
    padding-top: 3vw;
    color: #fff;
}
.teachers_text{
    display: flex;
    justify-content: center;
    background-color: #FC952F;
    font-size: 3vw;
    font-family: HirroSans;
}
.grid{
    padding-top: 3vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 20vw);
    gap:2 vw 3vw;
    row-gap: 4vh;

}
.grid_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}
.grid_content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.teachers_name {
    margin-top: 0.5vw;
    text-align: center;
    font-size: 14px;
    word-break: break-word;
}