* {
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}
*,
* ::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
nav{
    display: flex;
    height: 7vh;
    width: 100%;
    min-width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin:auto;
    background-color: #5E0000;
}
a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    padding: 0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #FF4D20;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
    
}

.slider{
    display: flex;
    object-position: center top;
    animation: spin 0s infinite linear;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slide{
    height: 93px;
        width: 100vw;
}
@keyframes spin{
    from {translate: 0;}
    to {translate: -430%;}
}